<div class="container p-2">
  <h3 class="text-center"><%= @article.title %></h3>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card text-center shadow bg-white rounded ">
        <div class="card-header font-italic">
         <p class="mb-2" > by <%= @article.user.username%></p>
          <%= link_to gravatar_for(@article.user, size:50), user_path(@article.user)%>
          <% if @article.categories.any? %>
            <div class="mt-2"><%= render @article.categories %></div>
          <% end %>
        </div>
        <div class="card-body">
          <div class="card-text text-left">
            <%= simple_format(@article.description) %>
          </div>
          <%= link_to "back", articles_path, class: "btn btn-outline-success btn-sm " %>
          <% if logged_in? && (@article.user == curr_user || curr_user.admin?) %>
            <%= link_to "edit", edit_article_path(@article), class: "btn btn-outline-primary btn-sm ml-2" %>
            <%= link_to "Delete", article_path(@article), method: :delete,
                                                        data: {confirm: 'Are you sure?'},
                                                        class: "btn btn-outline-danger btn-sm ml-2" %>
          <% end %>
        </div>
        <div class="card-footer text-muted py-1">
          <small>Created <%= time_ago_in_words(@article.created_at) %> ago &
            updated <%= time_ago_in_words(@article.updated_at) %> ago
          </small>
        </div>
      </div>
    </div>  
  </div>
  <hr/>
  <div class="row">
    <div class="col-6">
      <h6><%= pluralize(@article.comments.size, "Comment") %></h6>
      <div class="comments">
        <%= render @article.comments %>
      </div>
    </div>
    <div class="col-6">
      <%= render "comments/form" %>
    </div>
  </div>
</div>
